{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hazze Template">
    <meta name="keywords" content="Hazze, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}

    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    {% include 'inc/_css.html' %}
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
{% include 'inc/_menu.html' %}
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="{% static 'img/IronMan.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="hs-text">

                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kinostar</h2>
                    <p>
                        Наш онлайн-кинотеатр Kinostar готов предложить киноманам огромную библиотеку кино со всего
                        света.
                        Это не только новые фильмы, но и легендарные, полюбившиеся всем картины прошлых лет. У нас самая
                        большая база в интернете для онлайн просмотра. От комедий и драм до тв-шоу и мультфильмов.
                        Поклонники киноиндустрии с легкостью могут найти подходящий фильм, благодаря умному поиску и
                        удобному фильтр
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- About Us Section Begin -->
{% block bestfilm %}

{% endblock %}

<!-- About Us Section End -->

<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Services</span>
                    <h2>Best Services Save The World</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <img src="{% static 'img/thumbnails_60_43560.png' %}" alt="">
                    <h4>Подписка</h4>
                    <p>Дополнительный функционал по подпискечё.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <img src="{% static 'img/service-2.png' %}" alt="">
                    <h4>Киноновости</h4>
                    <p>Самые свежие новости по кино.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <img src="{% static 'img/Televizor.jpg' %}" alt="">
                    <h4>Кроссплатформенность</h4>
                    <p>Смотрите нас на телевизоре , телефоне , компьютере.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
{% comment %}
    <!-- Portfolio Section Begin -->
    <section class="portfolio-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Portfolio</span>
                        <h2>Turn Your Dream Into Reality</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="portfolio-item set-bg large-item" data-setbg="img/portfolio/portfolio-1.jpg">
                        <div class="pi-hover">
                            <a href="#" class="chain-icon"><i class="fa fa-chain"></i></a>
                            <a href="img/portfolio/portfolio-1.jpg" class="search-icon image-popup"><i
                                    class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portfolio-item set-bg" data-setbg="img/portfolio/portfolio-2.jpg">
                        <div class="pi-hover">
                            <a href="#" class="chain-icon"><i class="fa fa-chain"></i></a>
                            <a href="img/portfolio/portfolio-2.jpg" class="search-icon image-popup"><i
                                    class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item set-bg" data-setbg="{% static 'img/portfolio/portfolio-3.jpg' %}">
                                <div class="pi-hover">
                                    <a href="#" class="chain-icon"><i class="fa fa-chain"></i></a>
                                    <a href="img/portfolio/portfolio-3.jpg" class="search-icon image-popup"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item set-bg" data-setbg="img/portfolio/portfolio-4.jpg">
                                <div class="pi-hover">
                                    <a href="#" class="chain-icon"><i class="fa fa-chain"></i></a>
                                    <a href="img/portfolio/portfolio-4.jpg" class="search-icon image-popup"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Section End -->
{% endcomment %}

<!-- Counter Section Begin -->
<section class="counter-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter-text">
                    <div class="section-title">
                        <h2>Тысячи фильмов и сериалов<br/></h2>
                    </div>
                    <a href="{% url 'watchlist' %}" class="primary-btn">Смотреть сейчас</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="counter-item">
                    <div class="ci-number count">
                        13280
                    </div>
                    <div class="ci-text">
                        <h4>Фильмов в открытом доступе</h4>
                        <p>Новые фильмы выходят каждый день в полном переводе .</p>
                    </div>
                </div>
                <div class="counter-item">
                    <div class="ci-number count">
                        1054
                    </div>
                    <div class="ci-text">
                        <h4>Фильмов по подписке</h4>
                        <p>Одна подписка для всех ваших устройств
                            Пользуйтесь всей семьей в приложении на любых устройствах: компьютерах, смартфонах,
                            планшетах, Смарт ТВ и игровых приставках.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->

<!-- Testimonial Section Begin -->
{% block now_watching %}

{% endblock %}


<!-- Footer Section Begin -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-option">
                    <div class="fo-logo">
                        <a href="#">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.colorlib@gmail.com</li>
                    </ul>
                    <div class="fo-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget fw-links">
                    <h5>Useful Links</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Model</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h5>Join The Newsletter</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="news-form">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h5>Instagram</h5>
                    <div class="insta-pic">
                        <img src="img/instagram/instagram-1.jpg" alt="">
                        <img src="img/instagram/instagram-2.jpg" alt="">
                        <img src="img/instagram/instagram-3.jpg" alt="">
                        <img src="img/instagram/instagram-4.jpg" alt="">
                        <img src="img/instagram/instagram-5.jpg" alt="">
                        <img src="img/instagram/instagram-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</section>
<!-- Footer Section End -->

<!-- Js Plugins -->
{% include 'inc/_js.html' %}
</body>

</html>